In [39]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('titanic.csv')
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [40]:
df.drop(['Name'], axis=1, inplace=True)

In [41]:
df.head()

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,male,22.0,1,0,7.2500
1,1,1,female,38.0,1,0,71.2833
2,1,3,female,26.0,0,0,7.9250
3,1,1,female,35.0,1,0,53.1000
4,0,3,male,35.0,0,0,8.0500

In [42]:
df['Sex'] = df['Sex'].replace({'male':1, 'female':0})
df.head()

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,1,22.0,1,0,7.2500
1,1,1,0,38.0,1,0,71.2833
2,1,3,0,26.0,0,0,7.9250
3,1,1,0,35.0,1,0,53.1000
4,0,3,1,35.0,0,0,8.0500

In [43]:
df.describe()

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
count,887.000000,887.000000,887.000000,887.000000,887.000000,887.000000,887.00000
mean,0.385569,2.305524,0.645998,29.471443,0.525366,0.383315,32.30542
std,0.487004,0.836662,0.478480,14.121908,1.104669,0.807466,49.78204
min,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.00000
25%,0.000000,2.000000,0.000000,20.250000,0.000000,0.000000,7.92500
50%,0.000000,3.000000,1.000000,28.000000,0.000000,0.000000,14.45420
75%,1.000000,3.000000,1.000000,38.000000,1.000000,0.000000,31.13750
max,1.000000,3.000000,1.000000,80.000000,8.000000,6.000000,512.32920

In [44]:
Y=df['Survived']
X=df.drop(['Survived'], axis=1)

In [45]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import seaborn as sbn

sc = StandardScaler()
# X = sc.fit_transform(X)

X = pd.DataFrame(sc.fit_transform(X), columns=X.columns)

In [46]:
# Diviser les donnees en test et entrainement
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [47]:
print(X_train.shape)
print(y_test.shape)

(620, 6)
(267,)

In [48]:
# Construire le model MLP
model = Sequential()
model.add(Dense(10, input_dim=6, activation='relu'))
model.add(Dense(10,  activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 10)                70

 dense_10 (Dense)            (None, 10)                110

 dense_11 (Dense)            (None, 1)                 11

=================================================================
Total params: 191
Trainable params: 191
Non-trainable params: 0
_________________________________________________________________

In [49]:
# Entraînez le modèle
history = model.fit(X_train, y_train, epochs=100, batch_size=10)

Epoch 1/100
62/62 [==============================] - 2s 9ms/step - loss: 0.6885 - accuracy: 0.5355
Epoch 2/100
62/62 [==============================] - 0s 6ms/step - loss: 0.5528 - accuracy: 0.7790
Epoch 3/100
62/62 [==============================] - 1s 11ms/step - loss: 0.4923 - accuracy: 0.8065
Epoch 4/100
62/62 [==============================] - 1s 11ms/step - loss: 0.4633 - accuracy: 0.8129
Epoch 5/100
62/62 [==============================] - 1s 12ms/step - loss: 0.4463 - accuracy: 0.8129
Epoch 6/100
62/62 [==============================] - 1s 14ms/step - loss: 0.4340 - accuracy: 0.8145
Epoch 7/100
62/62 [==============================] - 1s 16ms/step - loss: 0.4256 - accuracy: 0.8145
Epoch 8/100
62/62 [==============================] - 1s 16ms/step - loss: 0.4200 - accuracy: 0.8177
Epoch 9/100
62/62 [==============================] - 1s 13ms/step - loss: 0.4142 - accuracy: 0.8242
Epoch 10/100
62/62 [==============================] - 1s 9ms/step - loss: 0.4094 - accuracy: 0.8226
Epoch 11/100
62/62 [==============================] - 1s 10ms/step - loss: 0.4054 - accuracy: 0.8258
Epoch 12/100
62/62 [==============================] - 1s 15ms/step - loss: 0.4027 - accuracy: 0.8226
Epoch 13/100
62/62 [==============================] - 1s 9ms/step - loss: 0.3998 - accuracy: 0.8355
Epoch 14/100
62/62 [==============================] - 1s 10ms/step - loss: 0.3984 - accuracy: 0.8339
Epoch 15/100
62/62 [==============================] - 1s 8ms/step - loss: 0.3954 - accuracy: 0.8371
Epoch 16/100
62/62 [==============================] - 1s 13ms/step - loss: 0.3941 - accuracy: 0.8403
Epoch 17/100
62/62 [==============================] - 1s 15ms/step - loss: 0.3916 - accuracy: 0.8403
Epoch 18/100
62/62 [==============================] - 1s 9ms/step - loss: 0.3895 - accuracy: 0.8403
Epoch 19/100
62/62 [==============================] - 1s 18ms/step - loss: 0.3884 - accuracy: 0.8452
Epoch 20/100
62/62 [==============================] - 1s 11ms/step - loss: 0.3877 - accuracy: 0.8452
Epoch 21/100
62/62 [==============================] - 1s 8ms/step - loss: 0.3853 - accuracy: 0.8468
Epoch 22/100
62/62 [==============================] - 1s 11ms/step - loss: 0.3845 - accuracy: 0.8468
Epoch 23/100
62/62 [==============================] - 1s 8ms/step - loss: 0.3832 - accuracy: 0.8548
Epoch 24/100
62/62 [==============================] - 1s 12ms/step - loss: 0.3830 - accuracy: 0.8548
Epoch 25/100
62/62 [==============================] - 1s 16ms/step - loss: 0.3808 - accuracy: 0.8532
Epoch 26/100
62/62 [==============================] - 0s 7ms/step - loss: 0.3810 - accuracy: 0.8548
Epoch 27/100
62/62 [==============================] - 1s 9ms/step - loss: 0.3796 - accuracy: 0.8516
Epoch 28/100
62/62 [==============================] - 0s 7ms/step - loss: 0.3779 - accuracy: 0.8532
Epoch 29/100
62/62 [==============================] - 0s 6ms/step - loss: 0.3775 - accuracy: 0.8581
Epoch 30/100
62/62 [==============================] - 0s 7ms/step - loss: 0.3763 - accuracy: 0.8548
Epoch 31/100
62/62 [==============================] - 0s 6ms/step - loss: 0.3755 - accuracy: 0.8581
Epoch 32/100
62/62 [==============================] - 1s 12ms/step - loss: 0.3743 - accuracy: 0.8565
Epoch 33/100
62/62 [==============================] - 1s 12ms/step - loss: 0.3739 - accuracy: 0.8581
Epoch 34/100
62/62 [==============================] - 1s 9ms/step - loss: 0.3724 - accuracy: 0.8613
Epoch 35/100
62/62 [==============================] - 0s 8ms/step - loss: 0.3725 - accuracy: 0.8597
Epoch 36/100
62/62 [==============================] - 1s 9ms/step - loss: 0.3727 - accuracy: 0.8581
Epoch 37/100
62/62 [==============================] - 1s 13ms/step - loss: 0.3718 - accuracy: 0.8613
Epoch 38/100
62/62 [==============================] - 1s 15ms/step - loss: 0.3717 - accuracy: 0.8613
Epoch 39/100
62/62 [==============================] - 1s 13ms/step - loss: 0.3706 - accuracy: 0.8581
Epoch 40/100
62/62 [==============================] - 1s 12ms/step - loss: 0.3707 - accuracy: 0.8581
Epoch 41/100
62/62 [==============================] - 1s 12ms/step - loss: 0.3700 - accuracy: 0.8581
Epoch 42/100
62/62 [==============================] - 1s 14ms/step - loss: 0.3687 - accuracy: 0.8581
Epoch 43/100
62/62 [==============================] - 1s 13ms/step - loss: 0.3689 - accuracy: 0.8613
Epoch 44/100
62/62 [==============================] - 1s 13ms/step - loss: 0.3683 - accuracy: 0.8613
Epoch 45/100
62/62 [==============================] - 1s 13ms/step - loss: 0.3670 - accuracy: 0.8565
Epoch 46/100
62/62 [==============================] - 1s 13ms/step - loss: 0.3666 - accuracy: 0.8597
Epoch 47/100
62/62 [==============================] - 1s 14ms/step - loss: 0.3650 - accuracy: 0.8597
Epoch 48/100
62/62 [==============================] - 1s 10ms/step - loss: 0.3651 - accuracy: 0.8597
Epoch 49/100
62/62 [==============================] - 1s 12ms/step - loss: 0.3648 - accuracy: 0.8613
Epoch 50/100
62/62 [==============================] - 1s 13ms/step - loss: 0.3643 - accuracy: 0.8597
Epoch 51/100
62/62 [==============================] - 1s 16ms/step - loss: 0.3657 - accuracy: 0.8597
Epoch 52/100
62/62 [==============================] - 1s 11ms/step - loss: 0.3638 - accuracy: 0.8565
Epoch 53/100
62/62 [==============================] - 1s 16ms/step - loss: 0.3615 - accuracy: 0.8613
Epoch 54/100
62/62 [==============================] - 1s 13ms/step - loss: 0.3633 - accuracy: 0.8597
Epoch 55/100
62/62 [==============================] - 1s 9ms/step - loss: 0.3625 - accuracy: 0.8597
Epoch 56/100
62/62 [==============================] - 1s 15ms/step - loss: 0.3630 - accuracy: 0.8613
Epoch 57/100
62/62 [==============================] - 1s 13ms/step - loss: 0.3605 - accuracy: 0.8613
Epoch 58/100
62/62 [==============================] - 1s 11ms/step - loss: 0.3598 - accuracy: 0.8613
Epoch 59/100
62/62 [==============================] - 1s 16ms/step - loss: 0.3598 - accuracy: 0.8613
Epoch 60/100
62/62 [==============================] - 1s 17ms/step - loss: 0.3606 - accuracy: 0.8613
Epoch 61/100
62/62 [==============================] - 1s 12ms/step - loss: 0.3603 - accuracy: 0.8565
Epoch 62/100
62/62 [==============================] - 1s 8ms/step - loss: 0.3602 - accuracy: 0.8629
Epoch 63/100
62/62 [==============================] - 1s 12ms/step - loss: 0.3590 - accuracy: 0.8597
Epoch 64/100
62/62 [==============================] - 1s 12ms/step - loss: 0.3588 - accuracy: 0.8613
Epoch 65/100
62/62 [==============================] - 1s 13ms/step - loss: 0.3577 - accuracy: 0.8581
Epoch 66/100
62/62 [==============================] - 1s 9ms/step - loss: 0.3589 - accuracy: 0.8597
Epoch 67/100
62/62 [==============================] - 1s 14ms/step - loss: 0.3583 - accuracy: 0.8597
Epoch 68/100
62/62 [==============================] - 1s 15ms/step - loss: 0.3577 - accuracy: 0.8629
Epoch 69/100
62/62 [==============================] - 1s 10ms/step - loss: 0.3565 - accuracy: 0.8629
Epoch 70/100
62/62 [==============================] - 1s 9ms/step - loss: 0.3565 - accuracy: 0.8629
Epoch 71/100
62/62 [==============================] - 1s 9ms/step - loss: 0.3579 - accuracy: 0.8581
Epoch 72/100
62/62 [==============================] - 1s 13ms/step - loss: 0.3568 - accuracy: 0.8597
Epoch 73/100
62/62 [==============================] - 1s 12ms/step - loss: 0.3551 - accuracy: 0.8629
Epoch 74/100
62/62 [==============================] - 1s 10ms/step - loss: 0.3554 - accuracy: 0.8645
Epoch 75/100
62/62 [==============================] - 1s 14ms/step - loss: 0.3544 - accuracy: 0.8597
Epoch 76/100
62/62 [==============================] - 1s 11ms/step - loss: 0.3555 - accuracy: 0.8613
Epoch 77/100
62/62 [==============================] - 1s 16ms/step - loss: 0.3539 - accuracy: 0.8629
Epoch 78/100
62/62 [==============================] - 1s 11ms/step - loss: 0.3550 - accuracy: 0.8629
Epoch 79/100
62/62 [==============================] - 1s 15ms/step - loss: 0.3550 - accuracy: 0.8597
Epoch 80/100
62/62 [==============================] - 1s 10ms/step - loss: 0.3536 - accuracy: 0.8597
Epoch 81/100
62/62 [==============================] - 1s 9ms/step - loss: 0.3527 - accuracy: 0.8581
Epoch 82/100
62/62 [==============================] - 1s 17ms/step - loss: 0.3531 - accuracy: 0.8597
Epoch 83/100
62/62 [==============================] - 1s 15ms/step - loss: 0.3514 - accuracy: 0.8629
Epoch 84/100
62/62 [==============================] - 1s 14ms/step - loss: 0.3528 - accuracy: 0.8613
Epoch 85/100
62/62 [==============================] - 1s 11ms/step - loss: 0.3517 - accuracy: 0.8629
Epoch 86/100
62/62 [==============================] - 1s 8ms/step - loss: 0.3509 - accuracy: 0.8613
Epoch 87/100
62/62 [==============================] - 1s 13ms/step - loss: 0.3528 - accuracy: 0.8613
Epoch 88/100
62/62 [==============================] - 1s 16ms/step - loss: 0.3518 - accuracy: 0.8629
Epoch 89/100
62/62 [==============================] - 0s 7ms/step - loss: 0.3509 - accuracy: 0.8629
Epoch 90/100
62/62 [==============================] - 1s 8ms/step - loss: 0.3510 - accuracy: 0.8613
Epoch 91/100
62/62 [==============================] - 1s 11ms/step - loss: 0.3497 - accuracy: 0.8661
Epoch 92/100
62/62 [==============================] - 1s 11ms/step - loss: 0.3498 - accuracy: 0.8629
Epoch 93/100
62/62 [==============================] - 1s 14ms/step - loss: 0.3478 - accuracy: 0.8629
Epoch 94/100
62/62 [==============================] - 1s 13ms/step - loss: 0.3497 - accuracy: 0.8629
Epoch 95/100
62/62 [==============================] - 1s 9ms/step - loss: 0.3484 - accuracy: 0.8597
Epoch 96/100
62/62 [==============================] - 1s 13ms/step - loss: 0.3477 - accuracy: 0.8629
Epoch 97/100
62/62 [==============================] - 1s 13ms/step - loss: 0.3494 - accuracy: 0.8597
Epoch 98/100
62/62 [==============================] - 1s 11ms/step - loss: 0.3479 - accuracy: 0.8597
Epoch 99/100
62/62 [==============================] - 1s 11ms/step - loss: 0.3461 - accuracy: 0.8645
Epoch 100/100
62/62 [==============================] - 0s 7ms/step - loss: 0.3461 - accuracy: 0.8597

In [50]:
model.evaluate(X_test, y_test)

9/9 [==============================] - 0s 6ms/step - loss: 0.4857 - accuracy: 0.7865

[0.4856572449207306, 0.7865168452262878]